{% spaceless %}
<div class="btn-group btn-group-sm">
    <a class="btn btn-info" href="{{ url('admin_user_get', {user: obj.guid}) }}" title="View">{{ icon('eye') }} <span class="sr-only">View</span></a>
    <a class="btn btn-default" href="{{ url('admin_user_edit', {user: obj.guid}) }}" title="Edit">{{ icon('edit') }} <span class="sr-only">Edit</span></a>
    <a class="btn btn-danger" href="{{ url('admin_user_remove', {user: obj.guid}) }}" title="Delete">{{ icon('trash-o') }} <span class="sr-only">Delete</span></a>
</div>
{% endspaceless %}
