{% extends 'VlRadRestBundle:Default:cget.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        <td>
                            {{ obj.username }}
                            {% if 'ROLE_SUPER_ADMIN' == obj.role %}
                                {{ label_danger('Super admin') }}
                            {% elseif 'ROLE_ADMIN' == obj.role %}
                                {{ label_danger('Admin') }}
                            {% endif %}
                            {% if not obj.enabled %}
                                {{ label('Disabled') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_SCOPE_R_PROFILE_EMAIL') %}
                                {{ obj.email }}
                            {% else %}
                                <span class="text-muted">(Hidden)</span>
                            {% endif %}
                        </td>
                        <td>
                            {% include 'VlRadRestBundle:Default:cget_links.html.twig' with {obj: obj, controller: controller } only %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        {% if controller.may('new') %}
            <a class="btn btn-primary btn-sm" href="{{url(controller.route('new'))}}">Create</a>
        {% endif %}
    </div>
    <div class="panel-body text-center">
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
{% endblock %}
{% block navigation_search_examples_dropdown %}
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle help</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url(controller.route('cget'), {q:'is:user'}) }}" data-property="user" data-remove-property="admin,superadmin" class="js-search-example">{{ icon('circle-o') }} Users</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:admin'}) }}" data-property="admin" data-remove-property="user,superadmin" class="js-search-example">{{ icon('circle-o') }} Admins</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:superadmin'}) }}" data-property="superadmin" data-remove-property="user,admin" class="js-search-example">{{ icon('circle-o') }} Super admins</a></li>
        <li class="divider" role="presentation"></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:enabled'}) }}" data-property="enabled" data-remove-property="disabled" class="js-search-example">{{ icon('circle-o') }} Enabled</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:disabled'}) }}" data-property="disabled" data-remove-property="enabled" class="js-search-example">{{ icon('circle-o') }} Disabled</a></li>
        <li class="divider" role="presentation"></li>
        <li>
            <span class="input-group menu-input">
                <label for="navigation_search_examples_username" class="input-group-addon">username:</label>
                <input id="navigation_search_examples_username" class="form-control js-search-example" data-prefix="username">
            </span>
        </li>
        <li class="divider" role="presentation"></li>
        <li>
            <span class="input-group menu-input">
                <label for="navigation_search_examples_email" class="input-group-addon">email:</label>
                <input id="navigation_search_examples_email" class="form-control js-search-example" data-prefix="email">
            </span>
        </li>
        <li class="divider" role="presentation"></li>
        <li>
            <div class="menu-input">
                <input type="submit" value="Search" class="btn btn-primary btn-block">
            </div>
        </li>
    </ul>
{% endblock %}
{% block mobile_search_examples %}
    <span data-property="user" data-remove-property="admin,superadmin" class="js-search-example list-group-item">{{ icon('circle-o') }} Users</span>
    <span data-property="admin" data-remove-property="user,superadmin" class="js-search-example list-group-item">{{ icon('circle-o') }} Admins</span>
    <span data-property="superadmin" data-remove-property="user,admin" class="js-search-example list-group-item">{{ icon('circle-o') }} Super admins</span>
    <span class="divider list-group-item" role="presentation"></span>
    <span data-property="enabled" data-remove-property="disabled" class="js-search-example list-group-item">{{ icon('circle-o') }} Enabled</span>
    <span data-property="disabled" data-remove-property="enabled" class="js-search-example list-group-item">{{ icon('circle-o') }} Disabled</span>
    <span class="divider list-group-item" role="presentation"></span>
    <span class="list-group-item">
        <span class="input-group menu-input">
            <label for="navigation_search_examples_username" class="input-group-addon">username:</label>
            <input id="navigation_search_examples_username" class="form-control js-search-example" data-prefix="username">
        </span>
    </span>
    <span class="divider list-group-item" role="presentation"></span>
    <span class="list-group-item">
        <span class="input-group menu-input">
            <label for="navigation_search_examples_email" class="input-group-addon">email:</label>
            <input id="navigation_search_examples_email" class="form-control js-search-example" data-prefix="email">
        </span>
    </span>
    <span class="divider list-group-item" role="presentation"></span>
    <span class="list-group-item">
        <div class="menu-input">
            <input type="submit" value="Search" class="btn btn-primary btn-block">
        </div>
    </span>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/app/js/searchgrammar.js') }}"></script>
<script src="{{ asset('bundles/app/js/search-examples.js')}}"></script>
{% endblock %}
