{% extends 'VlRadRestBundle:Default:get.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('user') }} {{ data.username }} ({{ data.displayName}})</h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Name</dt><dd>{{ data.displayName }}</dd>
            <dt>Username</dt><dd>
                {{ data.username }}
                {% if not data.enabled %}
                    {{ label('Disabled') }}
                {% endif %}
                {% if not data.accountNonLocked %}
                    {{ label('Locked') }}
                {% endif %}
            </dd>
            {% if is_granted('ROLE_SCOPE_R_PROFILE_EMAIL') %}
                <dt>Email<dt><dd>
                    {% for e in data.emailAddresses %}
                        {{ e.email }}
                        {% if e.verified %}
                            <span title="Verified">{{ label_success('V') }}</span>
                        {% else %}
                            <span title="Not verified">{{ label('V') }}</span>
                        {% endif %}
                        {% if e.primary %}
                            {{ label_primary('Primary') }}
                        {% endif %}
                        <br>
                    {% endfor %}
                </dd>
            {% endif %}
            <dt>Password authentication</dt><dd>
                {% if data.passwordEnabled == 1 %}
                    Enabled
                {% elseif data.passwordEnabled == 2 %}
                    Allow user to set initial password
                {% else %}
                    Disabled
                {% endif %}
            </dd>
            <dt>Local flags</dt><dd>
                {% if 'ROLE_SUPER_ADMIN' == data.role %}
                    {{ label_danger('Super admin') }}
                {% elseif 'ROLE_ADMIN' == data.role %}
                    {{ label_danger('Admin') }}
                {% else %}
                    <span class="text-muted">(None)</span>
                {% endif %}
            </dd>
            <dt>Member of</dt><dd>
                {% for g in data.groups %}
                    <a href="{{ url('admin_group_get', { id: g.id }) }}">{{ icon('group') }} {{ g.displayName }}</a><br>
                {% else %}
                    <span class="text-muted">(None)</span>
                {% endfor %}
            </dd>
            <dt>Exported groups</dt><dd>
                {{ data._getAllGroupNames()|keys|json_encode }}
            </dd>
            {% for property in data.userProperties %}
                <dt>{% if is_granted('ROLE_SUPER_ADMIN') %}<a href="{{ url('admin_userproperty_edit', {id: property.property.id }) }}">{{ icon('pencil') }}</a> {% endif %}<abbr title="{{ property.property.name }}">{{ property.property.displayName }}</abbr></dt>
                <dd>{% if property.data %}{{ property.data }}{% else %}<span class="text-muted">(Empty)</span>{% endif %}</dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}
