{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% block mobile_search %}
            {% endblock %}
            <div class="col-xs-12 col-sm-8 col-md-9 pull-right">
                <div class="panel panel-
                {%- spaceless %}
                    {% set _route = app.request.attributes.get('_route') %}
                    {% if _route ends with '_get' or _route ends with '_gets' %}
                        info
                    {% elseif _route ends with '_post' or _route ends with '_put' or _route ends with '_delete' %}
                        warning
                    {% elseif _route ends with '_remove' %}
                        danger
                    {% else %}
                        primary
                    {% endif %}
                {% endspaceless -%}
                ">
                    {% block radrest_content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                {% block radrest_sidebar %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Navigation</h3>
                        </div>
                        <div class="list-group">
                            {% macro render_link(route, param, ico, name, enabled) %}
                                <a class="list-group-item {% if app.request.attributes.get('_route') == route %} active{% endif%}{% if not enabled %} disabled{% endif %}" href="{{ url(route, param) }}">{{ icon(ico~' fa-fw') }} {{ name }}</a>
                            {% endmacro %}
                            {% import _self as self %}
                            {% if user is defined %}
                                {{ self.render_link('admin_user_get', {user:user.guid},'eye', 'View', is_granted('ROLE_SCOPE_R_PROFILE')) }}
                                {{ self.render_link('admin_user_edit', {user:user.guid}, 'pencil', 'Edit', is_granted('ROLE_SCOPE_W_PROFILE')) }}
                                {{ self.render_link('admin_user_remove', {user:user.guid}, 'trash', 'Delete', is_granted('ROLE_SCOPE_W_PROFILE')) }}
                            {% endif %}
                            {{ self.render_link('admin_user_gets', {}, 'list', 'List', is_granted('ROLE_SCOPE_R_PROFILE')) }}
                            {{ self.render_link('admin_user_new', {}, 'plus', 'Create', is_granted('ROLE_SCOPE_W_PROFILE')) }}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
