{% extends 'AdminBundle:Group:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('group') }} Groups</h3>
    </div>
    {{ form_start(batch_form, { action: url('admin_group_batch', { _params: app.request.query.all }), style: 'inline' }) }}
    {% include "AdminBundle::table.html.twig" with {batch_disabled: not is_granted('ROLE_SCOPE_W_PROFILE') } %}
    {{ form_end(batch_form) }}
    {% include 'AdminBundle:Group:vizjs_embed.html.twig' %}
{% endblock %}

{% block radrest_sidebar %}
    {{ parent() }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body">
            {{ form(search_form) }}
        </div>
    </div>
    <div class="panel panel-default hidden-xs">
        <div class="panel-heading">
            <h3 class="panel-title">Graph</h3>
        </div>
        <div class="panel-body">
            {{ form(graph_form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/admin/js/batch-checkbox.js') }}"></script>
{% javascripts '@vizjs' '@AdminBundle/Resources/public/js/graph-form.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
