{% extends 'VlRadRestBundle:Default:cget.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Groups</h3>
    </div>
    {{ form_start(batch_form, { action: url(controller.route('batch'), { _params: app.request.query.all }), style: 'inline' }) }}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Technical name</th>
                    <th>Flags</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="admin_batch[subjects][{{ obj.id }}]" value="1" class="js--batch-checkbox">
                                {{ obj.displayName }}
                            </label>
                        </td>
                        <td>{{ obj.name }}</td>
                        <td>
                            {% include 'AdminBundle:Group:flags.html.twig' with {obj: obj} only %}
                        </td>
                        <td>
                            {% include 'VlRadRestBundle:Default:cget_links.html.twig' with {obj: obj, controller: controller } only %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-body text-center">
        <div class="pull-left js--batch-form collapse">
            {{ form_row(batch_form.action) }} {{ form_row(batch_form.submit) }}
            <span class="hidden">{{ form_row(batch_form.subjects) }}</span>
        </div>
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
    {{ form_end(batch_form) }}
{% endblock %}
{% block navigation_search_examples_dropdown %}
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle help</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url(controller.route('cget'), {q:'is:exportable'}) }}" data-property="exportable" data-remove-property="not exportable,noexportable" class="js-search-example">{{ icon('circle-o') }} Exportable</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:noexportable'}) }}" data-property="not exportable" data-remove-property="exportable,noexportable" class="js-search-example">{{ icon('circle-o') }} Not exportable</a></li>
        <li class="divider" role="presentation"></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:nousers'}) }}" data-property="nousers" data-remove-property="users" class="js-search-example">{{ icon('circle-o') }} "No users" group</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:users'}) }}" data-property="users" data-remove-property="nousers" class="js-search-example">{{ icon('circle-o') }} "Users" group</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:nogroups'}) }}" data-property="nogroups" data-remove-property="groups" class="js-search-example">{{ icon('circle-o') }} "No groups" group</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:groups'}) }}" data-property="groups" data-remove-property="nogroups" class="js-search-example">{{ icon('circle-o') }} "Groups" group</a></li>
        <li class="divider" role="presentation"></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:userjoin'}) }}" data-property="userjoin" data-remove-property="nouserjoin" class="js-search-example">{{ icon('circle-o') }} User joinable</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:nouserjoin'}) }}" data-property="nouserjoin" data-remove-property="userjoin" class="js-search-example">{{ icon('circle-o') }} Not user joinable</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:userleave'}) }}" data-property="userleave" data-remove-property="nouserleave" class="js-search-example">{{ icon('circle-o') }} User leaveable</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:nouserleave'}) }}" data-property="nouserleave" data-remove-property="userleave" class="js-search-example">{{ icon('circle-o') }} Not user leaveable</a></li>
        <li>
            <span class="input-group menu-input">
                <label for="navigation_search_examples_name" class="input-group-addon">name:</label>
                <input id="navigation_search_examples_name" class="form-control js-search-example" data-prefix="name">
            </span>
        </li>
        <li>
            <span class="input-group menu-input">
                <label for="navigation_search_examples_techname" class="input-group-addon">techname:</label>
                <input id="navigation_search_examples_techname" class="form-control js-search-example" data-prefix="techname">
            </span>
        </li>
        <li class="divider" role="presentation"></li>
        <li>
            <div class="menu-input">
                <input type="submit" value="Search" class="btn btn-primary btn-block">
            </div>
        </li>
    </ul>
{% endblock %}
{% block mobile_search_examples %}
    <span data-property="exportable" data-remove-property="not exportable,noexportable" class="js-search-example list-group-item">{{ icon('circle-o') }} Exportable</span>
    <span data-property="not exportable" data-remove-property="exportable,noexportable" class="js-search-example list-group-item">{{ icon('circle-o') }} Not exportable</span>
    <span class="divider list-group-item" role="presentation"></span>
    <span data-property="nousers" data-remove-property="users" class="js-search-example list-group-item">{{ icon('circle-o') }} "No users" group</span>
    <span data-property="users" data-remove-property="nousers" class="js-search-example list-group-item">{{ icon('circle-o') }} "Users" group</span>
    <span data-property="nogroups" data-remove-property="groups" class="js-search-example list-group-item">{{ icon('circle-o') }} "No groups" group</span>
    <span data-property="groups" data-remove-property="nogroups" class="js-search-example list-group-item">{{ icon('circle-o') }} "Groups" group</span>
    <span class="divider list-group-item" role="presentation"></span>
    <span data-property="userjoin" data-remove-property="nouserjoin" class="js-search-example list-group-item">{{ icon('circle-o') }} User joinable</span>
    <span data-property="nouserjoin" data-remove-property="userjoin" class="js-search-example list-group-item">{{ icon('circle-o') }} Not user joinable</span>
    <span data-property="userleave" data-remove-property="nouserleave" class="js-search-example list-group-item">{{ icon('circle-o') }} User leaveable</span>
    <span data-property="nouserleave" data-remove-property="userleave" class="js-search-example list-group-item">{{ icon('circle-o') }} Not user leaveable</span>
    <span class="divider list-group-item" role="presentation"></span>
    <span class="list-group-item">
        <span class="input-group menu-input">
            <label for="navigation_search_examples_name" class="input-group-addon">name:</label>
            <input id="navigation_search_examples_name" class="form-control js-search-example" data-prefix="name">
        </span>
    </span>
    <span class="list-group-item">
        <span class="input-group menu-input">
            <label for="navigation_search_examples_techname" class="input-group-addon">techname:</label>
            <input id="navigation_search_examples_techname" class="form-control js-search-example" data-prefix="techname">
        </span>
    </span>

    <span class="divider list-group-item" role="presentation"></span>
    <span class="list-group-item">
        <div class="menu-input">
            <input type="submit" value="Search" class="btn btn-primary btn-block">
        </div>
    </span>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/app/js/searchgrammar.js') }}"></script>
<script src="{{ asset('bundles/app/js/search-examples.js')}}"></script>
{% endblock %}
