{% extends 'VlRadRestBundle:Default:cget.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Groups</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Flags</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        <td>{{ obj.name }}</td>
                        <td>
                            {% include 'AdminBundle:Group:flags.html.twig' with {obj: obj} only %}
                        </td>
                        <td>
                            {% include 'VlRadRestBundle:Default:cget_links.html.twig' with {obj: obj, controller: controller } only %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        {% if controller.may('new') %}
            <a class="btn btn-primary btn-sm" href="{{url(controller.route('new'))}}">Create</a>
        {% endif %}
    </div>
    <div class="panel-body text-center">
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
{% endblock %}
{% block navigation_search_examples_dropdown %}
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle help</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url(controller.route('cget'), {q:'is:exportable'}) }}" data-property="exportable" data-remove-property="not exportable,noexportable" class="js-search-example">{{ icon('circle-o') }} Exportable</a></li>
        <li><a href="{{ url(controller.route('cget'), {q:'is:noexportable'}) }}" data-property="not exportable" data-remove-property="exportable,noexportable" class="js-search-example">{{ icon('circle-o') }} Not exportable</a></li>
        <li class="divider" role="presentation"></li>
        <li>
            <span class="input-group menu-input">
                <label for="navigation_search_examples_username" class="input-group-addon">name:</label>
                <input id="navigation_search_examples_username" class="form-control js-search-example" data-prefix="name">
            </span>
        </li>
        <li class="divider" role="presentation"></li>
        <li>
            <div class="menu-input">
                <input type="submit" value="Search" class="btn btn-primary btn-block">
            </div>
        </li>
    </ul>
{% endblock %}
{% block mobile_search_examples %}
    <span data-property="exportable" data-remove-property="not exportable,noexportable" class="js-search-example list-group-item">{{ icon('circle-o') }} Exportable</span>
    <span data-property="not exportable" data-remove-property="exportable,noexportable" class="js-search-example list-group-item">{{ icon('circle-o') }} Not exportable</span>
    <span class="divider list-group-item" role="presentation"></span>
    <span class="list-group-item">
        <span class="input-group menu-input">
            <label for="navigation_search_examples_username" class="input-group-addon">name:</label>
            <input id="navigation_search_examples_username" class="form-control js-search-example" data-prefix="name">
        </span>
    </span>
    <span class="divider list-group-item" role="presentation"></span>
    <span class="list-group-item">
        <div class="menu-input">
            <input type="submit" value="Search" class="btn btn-primary btn-block">
        </div>
    </span>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/app/js/searchgrammar.js') }}"></script>
<script src="{{ asset('bundles/app/js/search-examples.js')}}"></script>
{% endblock %}
