{% if obj.exportable %}
    <span title="Exportable">{{ label_success('Ex') }}</span>
{% else %}
    <span title="Not exportable">{{ label('Ex') }}</span>
{% endif %}
{% if obj.noUsers %}
    <span title="No users">{{ label('U') }}</span>
{% else %}
    <span title="Users allowed">{{ label_success('U') }}</span>
{% endif %}
{% if obj.noGroups %}
    <span title="No groups">{{ label('G')}}</span>
{% else %}
    <span title="Groups allowed">{{ label_success('G') }}</span>
{% endif %}
{% if obj.userJoinable %}
    <span title="User joinable">{{ label_success('J') }}</span>
{% else %}
    <span title="Not user joinable">{{ label('J') }}</span>
{% endif %}
{% if obj.userLeaveable %}
    <span title="User leaveable">{{ label_success('L') }}</span>
{% else %}
    <span title="Not user leaveable">{{ label('L') }}</span>
{% endif %}
