{% extends 'VlRadRestBundle:Default:get.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">OAuth Application</h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Name</dt><dd>
                {{ data.name }}
                {% if data.preApproved %}
                    {{ label_success('Pre Approved') }}
                {% endif %}
            </dd>
            <dt>Client ID</dt><dd>{{ data.id }}_{{ data.randomId }}</dd>
            <dt>Client Secret</dt><dd>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <span class="hidden" id="oauth_app_client_secret">{{ data.secret }}</span>
                {% endif %}
                <span class="text-muted" id="oauth_app_client_secret_guard">******</span>
            </dd>
            <dt>Scopes</dt><dd>{{ data.preApprovedScopes|join(' ') }}</dd>
            <dt>Redirect uris</dt><dd>
                {% for url in data.redirectUris %}
                    {{ url }}<br>
                {% else %}
                    <span class="text-muted">(None)</span>
                {% endfor %}
            </dd>
            {% if data.groupRestriction %}
                <dt>Group restriction</dt><dd>
                    {% set g = data.groupRestriction %}
                    <a href="{{ url('admin_group_get', {id: g.id}) }}">{{ icon('group fa-fw') }} <abbr title="{{ g.name }}">{{ g.displayName }}</abbr></a><br>
                </dd>
            {% endif %}
        </dl>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $('#oauth_app_client_secret_guard, #oauth_app_client_secret').on('click', function() {
            $('#oauth_app_client_secret_guard, #oauth_app_client_secret').toggleClass('hidden');
        });
    </script>
{% endblock %}
