{% extends 'AdminBundle:OAuthClient:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">OAuth Application</h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Name</dt><dd>
                {{ data.name }}
                {% if data.preApproved %}
                    {{ label_success('Pre Approved') }}
                {% endif %}
            </dd>
            <dt>Client ID</dt><dd>{{ data.id }}_{{ data.randomId }}</dd>
            <dt>Client Secret</dt><dd>
                {{ data.secret }}
                {{ render(controller('AdminBundle:OAuthClient:rotateForm', {client: data.id})) }}
            </dd>
            {% if data.preApprovedScopes|length > 0 %}
                <dt>Pre approved scopes</dt><dd>{{ data.preApprovedScopes|join(' ') }}</dd>
            {% endif %}
            <dt>Maximum scopes</dt><dd>{{ data.maxScopes|join(' ') }}</dd>
            <dt>Redirect uris</dt><dd>
                {% for url in data.redirectUris %}
                    {{ url }}<br>
                {% else %}
                    <span class="text-muted">(None)</span>
                {% endfor %}
            </dd>
            {% if data.groupRestriction %}
                <dt>Group restriction</dt><dd>
                    {% set g = data.groupRestriction %}
                    <a href="{{ url('admin_group_get', {group: g.name}) }}">{{ icon('group fa-fw') }} <abbr title="{{ g.name }}">{{ g.displayName }}</abbr></a><br>
                </dd>
            {% endif %}
        </dl>
    </div>
{% endblock %}
