<dt>Groups</dt><dd class="list-groups">
    {% for group in groups %}
        {{ icon('group') }} {{ group.displayName }}
        {% if group.userLeaveable %}
            {{- render(controller('UserBundle:Profile:removeGroup', {
                groupId: group.id
            })) -}}
        {% endif %}
        <br>
    {% else %}
        <span class="text-muted">(None)</span>
    {% endfor %}
    {% if form %}
        <div id="add_group_text" class="collapse in">
            <button class="btn btn-sm btn-link" data-toggle="collapse" data-target="#add_group_form, #add_group_text">{{ icon('plus') }} Join group</button>
        </div>
        <div id="add_group_form" class="collapse">
            {{ form(form.add_group, { action: url('user_post_group'), style: 'inline' }) }}
        </div>
    {% endif %}
</dd>
