<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}AuthServer{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body class="env-{{ app.environment }}">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('user_profile') }}">AuthServer</a>
                </div>
                <div class="collapse navbar-collapse">
                        {% macro render_link(route, ico, text) %}
                            <li{% if route == app.request.attributes.get('_route') %} class="active"{% endif %}><a href="{{ url(route) }}">{{ icon(ico~' fa-fw') }} {{ text }}</a></li>
                        {% endmacro %}
                        {% macro render_admin_link(routepfx, ico, text) %}
                                <li{% if app.request.attributes.get('_route') starts with routepfx %} class="active"{% endif %}><a href="{{ url(routepfx~'gets') }}">{{ icon(ico~' fa-fw') }} {{ text }}</a></li>
                        {% endmacro %}
                        {% import _self as self %}
                        <ul class="nav navbar-nav navbar-left">
                            {% if app.user %}
                                {% if is_granted('ROLE_SCOPE_R_PROFILE') %}
                                    {{ self.render_admin_link('admin_user_', 'user', 'Users') }}
                                {% endif %}
                                {% if is_granted('ROLE_SCOPE_R_GROUP') %}
                                    {{ self.render_admin_link('admin_group_', 'group', 'Groups') }}
                                {% endif %}
                                {% if is_granted('ROLE_AUDIT') %}
                                    {{  self.render_admin_link('admin_audit_', 'heartbeat', 'Audit Log') }}
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li class="dropdown">
                                        <a href="{{ url('admin_dashboard') }}" class="dropdown-toggle" data-toggle="dropdown">{{ icon('ellipsis-v fa-fw') }} More <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {{ self.render_admin_link('admin_oauth_client_', 'cube', 'OAuth Apps') }}
                                            {{ self.render_admin_link('admin_apikey_', 'key', 'API keys') }}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    {% block navigation %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.user %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ icon('user fa-fw') }} {{ app.user.displayName }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {{ self.render_link('user_profile', 'user', 'Profile') }}
                                        <li class="divider" role="presentation"></li>
                                        {{ self.render_link('logout', 'sign-out', 'Sign out') }}
                                    </ul>
                                </li>
                            {% else %}
                                {{ self.render_link('app_login', 'sign-in', 'Sign in') }}
                            {% endif %}
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
                </div>
            </div>
        </div>
        {% block body %}
        {% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <span class="text-muted">Authserver</span>
                    </div>
                    <div class="col-xs-4 pull-right text-right text-muted">
                        {% spaceless %}
                            <span title="Env: {{ app.environment }}">
                                {% if app.environment == 'dev' %}
                                    {{ icon('bomb fa-fw') }}
                                {% elseif app.environment == 'prod' %}
                                    {{ icon('bolt fa-fw') }}
                                {% endif %}
                            </span>
                            {% if app.security.token %}
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a href="{{ url('home', {'_switch_user':'_exit'}) }}" class="text-muted">{{ icon('stethoscope fa-fw')}}</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ icon('magic fa-fw') }}
                                {% elseif is_granted('ROLE_USER') %}
                                    {{ icon('smile-o fa-fw') }}
                                {% else %}
                                    {{ icon('globe fa-fw') }}
                                {% endif %}
                            {% endif %}
                            <a href="http://vbgn.be" class="text-muted">{{ icon('code fa-fw') }}</a>
                        {% endspaceless %}
                    </div>
                </div>
            </div>
        </footer>
        {% block javascript %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
