{% extends '::base.html.twig' %}
{% block head %}
    <style>
        .panel-authorized-apps form, .panel-authorized-apps form div, .list-groups form, .list-groups form > div{
            display: inline;
        }
        .panel-authorized-apps form {
            float: right;
        }

        .panel-authorized-apps .list-group-item {
            min-height: 30px;
            line-height: 30px;
        }

        .panel-authorized-apps .list-group-item .app-name {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            width: 100%;
        }

        .panel-authorized-apps .list-group-item .btn, .list-groups .btn {
            margin-left: 10px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Profile</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt><dd>{{ data.displayName }}</dd>
                        <dt>Username</dt><dd>{{ data.username }}</dd>
                        <dt>Email</dt><dd>
                            {% for email in data.emailAddresses %}
                                {{ email.email }}
                                {% if not email.verified %}
                                    <span class="text-muted">(Pending verification)</span>
                                {% endif %}
                                {{ render(controller('UserBundle:Profile:editEmailAddresses', {
                                    addr: email
                                })) }}
                                <br>
                            {% endfor %}
                            <div id="add_email_address_text" class="collapse in">
                                <button class="btn btn-sm btn-link" data-toggle="collapse" data-target="#add_email_address_form, #add_email_address_text">{{ icon('plus') }} Add email address</button>
                            </div>
                            <div id="add_email_address_form" class="collapse">
                                {{ form(form.add_email, { action: url('user_post_email_addresses'), style: 'inline' }) }}
                            </div>
                        </dd>
                        {% if data.passwordEnabled %}
                            <dt>Password</dt>
                            <dd>
                                {% if data.passwordEnabled == 1 %}
                                    ****** <a class="btn btn-sm btn-link" href="{{ url('user_change_password') }}">{{ icon('pencil') }} Edit</a>
                                {% else %}
                                    <span class="text-muted">(None)</span> <a class="btn btn-sm btn-link" href="{{ url('user_change_password') }}">{{ icon('key') }} Configure password</a>
                                {% endif %}
                            </dd>
                        {% endif %}
                        {% for prop in data.userProperties %}
                            <dt>
                                {{ prop.property.displayName }}
                                {% if prop.property.required %}
                                    <abbr title="Required" class="text-danger">*</abbr>
                                {% endif %}
                            </dt>
                                {{ render(controller('UserBundle:Profile:editProperty', {
                                    property: prop
                                })) }}

                        {% endfor %}

                        <dt>Groups</dt><dd class="list-groups">
                            {% for group in data.groups %}
                                {{ icon('group') }} {{ group.displayName }}
                                {% if group.userLeaveable %}
                                    {{- render(controller('UserBundle:Profile:removeGroup', {
                                        groupId: group.id
                                    })) -}}
                                {% endif %}
                                <br>
                            {% else %}
                                <span class="text-muted">(None)</span>
                            {% endfor %}
                            <div id="add_group_text" class="collapse in">
                                <button class="btn btn-sm btn-link" data-toggle="collapse" data-target="#add_group_form, #add_group_text">{{ icon('plus') }} Join group</button>
                            </div>
                            <div id="add_group_form" class="collapse">
                                {{ form(form.add_group, { action: url('user_post_group'), style: 'inline' }) }}
                            </div>
                        </dd>
                        {% if data.role != 'ROLE_USER' %}
                            <dt>Permissions</dt><dd>
                                {% if data.role == 'ROLE_ADMIN' %}
                                    {{ label_danger('Admin') }}
                                {% elseif data.role == 'ROLE_SUPER_ADMIN' %}
                                    {{ label_danger('Super admin') }}
                                {% else %}
                                    {{ data.role }}
                                {% endif %}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default panel-authorized-apps">
                <div class="panel-heading">
                    <h2 class="panel-title">Authorized apps</h2>
                </div>
                <div class="list-group">
                    {% for auth in data.authorizedApplications %}
                        <div class="list-group-item">
                            <span class="app-name">
                                {{ render(controller('UserBundle:Profile:removeAuthorizedApp', {
                                    appId: auth.client.id
                                })) -}}
                                {{- auth.client.name }}
                            </span>
                        </div>
                    {% else %}
                        <div class="list-group-item">
                            <span class="text-muted">(No authorized applications)</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $('.js--edit-user-property').on('click', function() {
            var $target = $($(this).attr('data-target')).children('form').find('.form-control[type=text]');
            setTimeout(function() {$target.focus();},1);
        });
    </script>
{% endblock %}
