{% extends '::base.html.twig' %}
{% block head %}
    <style>
        .panel-authorized-apps form {
            display: inline;
        }

        .panel-authorized-apps .list-group-item {
            min-height: 30px;
            line-height: 30px;
        }

        .panel-authorized-apps .list-group-item .app-name {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            width: 100%;
        }

        .panel-authorized-apps .list-group-item .btn {
            margin-left: 10px;
        }

        #usr_auth_app_delete {
            display: inline;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Profile</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt><dd>{{ data.displayName }}</dd>
                        <dt>Username</dt><dd>{{ data.username }}</dd>
                        <dt>Email</dt><dd>
                            {% for email in data.emailAddresses %}
                                {{ email.email }}
                                {% if not email.verified %}
                                    <span class="text-muted">(Pending verification)</span>
                                {% endif %}
                                {{ render(controller('UserBundle:Profile:editEmailAddresses', {
                                    addr: email
                                })) }}
                                <br>
                            {% endfor %}
                            {{ form(form.add_email, { action: url('user_post_email_addresses'), style: 'inline' }) }}
                        </dd>
                        {% if data.passwordEnabled %}
                            <dt>Password</dt>
                            <dd>
                                {% if data.passwordEnabled == 1 %}
                                    ****** <a class="btn btn-sm btn-link" href="{{ url('user_change_password') }}">{{ icon('pencil') }} Edit</a>
                                {% else %}
                                    <span class="text-muted">(None)</span> <a class="btn btn-sm btn-link" href="{{ url('user_change_password') }}">{{ icon('key') }} Configure password</a>
                                {% endif %}
                            </dd>
                        {% endif %}
                        <dt>Groups</dt><dd>
                            {% for group in data.groups %}
                                {{ icon('group') }} {{ group.displayName }}<br>
                            {% else %}
                                <span class="text-muted">(None)</span>
                            {% endfor %}
                        </dd>
                        {% if data.role != 'ROLE_USER' %}
                            <dt>Permissions</dt><dd>
                                {% if data.role == 'ROLE_ADMIN' %}
                                    {{ label_danger('Admin') }}
                                {% elseif data.role == 'ROLE_SUPER_ADMIN' %}
                                    {{ label_danger('Super admin') }}
                                {% else %}
                                    {{ data.role }}
                                {% endif %}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default panel-authorized-apps">
                <div class="panel-heading">
                    <h2 class="panel-title">Authorized apps</h2>
                </div>
                <div class="list-group">
                    {% for app in data.authorizedApplications %}
                        <div class="list-group-item">
                            <span class="app-name">
                                {{ render(controller('UserBundle:Profile:removeAuthorizedApp', {
                                    appId: app.id
                                })) -}}
                                {{- app.name }}
                            </span>
                        </div>
                    {% else %}
                        <div class="list-group-item">
                            <span class="text-muted">(No authorized applications)</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
