{% extends 'AdminBundle:Audit:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('heartbeat') }} Audit log</h3>
    </div>
    {% include 'AdminBundle::table.html.twig' %}
{% endblock %}
{% block radrest_sidebar %}
    {{ parent() }}
    {% if app.request.query.has('target') or app.request.query.has('username') or app.request.query.has('key') %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Remove search parameter</h3>
            </div>
            <div class="list-group">
                {% macro display_filter(query, param, ico) %}
                    {% if query.has(param) %}
                        <a class="list-group-item" href="{{ url('admin_audit_gets', query.all()|merge({(param): null})) }}">{{ icon(ico~' fa-fw') }} {{ query.get(param) }}</a>
                    {% endif %}
                {% endmacro %}
                {% import _self as self %}
                {{ self.display_filter(app.request.query, 'target', 'bullseye') }}
                {{ self.display_filter(app.request.query, 'username', 'user') }}
                {{ self.display_filter(app.request.query, 'apikey', 'key') }}
            </div>
        </div>
    {% endif %}
{% endblock %}
