{% extends 'AdminBundle:Audit:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">View</h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Target Object</dt><dd><a href="{{ url('admin_audit_target', {id: id}) }}">{{ data.objectClass }}@{{ data.objectId }}</a></dd>
            <dt>Action</dt><dd>{{ data.action }}</dd>
            <dt>Version</dt><dd>{{ data.version }}</dd>
            <dt>Timestamp</dt><dd>{{ data.loggedAt|date }}</dd>
            <dt>Editor</dt><dd>{% if data.username == null %}<span class="text-muted">(Anonymous)</span>{% else %}{{ data.username }}{% endif %}</dd>
        </dl>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr><th>Name</th><th>New data</th></tr>
            </thead>
            <tbody>
            {% for name,value in data.data %}
                <tr>
                    <td>{{ name }}</td>
                    {% if name in ['password', 'verificationCode', 'passwordResetToken'] and value != null %}
                        <td><span class="text-muted">(Secret)</span></td>
                    {% elseif value is iterable %}
                        {% if value.id is defined %}
                            <td><a href="{{ url('admin_audit_target', {id:id,property:name}) }}">{{ value.id|radrest_object_stringify }}</a></td>
                        {% elseif value['+'] is defined or value['-'] is defined %}
                            <td>
                                {% if value['+'] is defined %}
                                    <b>Added:</b>
                                    {% for v in value['+'] %}
                                        <a href="{{ url('admin_audit_target', {id:id,property:name,propertyId:v}) }}">{{ v }}</a>
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    <br>
                                {% endif %}
                                {% if value['-'] is defined %}
                                    <b>Removed:</b>
                                    {% for v in value['-'] %}
                                        <a href="{{ url('admin_audit_target', {id:id,property:name,propertyId:v}) }}">{{ v }}</a>
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>
                                {% for k,v in value if v|length > 0 %}
                                    <b>{{ k }}:</b>
                                        {% if v is iterable %}
                                            {{ v|join(',') }}
                                        {% else %}
                                            {{ v|radrest_object_stringify }}
                                        {% endif %}
                                        <br>
                                {% endfor %}
                            </td>
                        {% endif %}
                    {% else %}
                        <td>{{ value|radrest_object_stringify }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
