{% block subject %}[{{ app.request.host }}] Password reset for {{ data.username }}{% endblock %}
{% block body_html %}
    <p>Hello {{ data.display_name }},</p>
    <p>You told us you had forgotten your {{ app.request.host }} password, so here is a link to set a new password:</p>
    <p>
        {% spaceless %}
        <a href="{{ url('user_password_reset', {username: data.username, verificationCode: data.passwordResetToken}) }}">
            {{ url('user_password_reset', {username: data.username, verificationCode: data.passwordResetToken}) }}
        </a>
        {% endspaceless %}
    </p>
    <p>You can click the link above, or copy it to the addressbar of your browser.</p>
    <p>
        If you did not request this password reset, you do not have to take any action.<br>
        Someone else probably entered your username by mistake.
    </p>
    <hr>
    <p>Generated especially for you by <a href="https://github.com/vierbergenlars/authserver">Authserver</a> at <a href="{{ url('home') }}">{{ url('home') }}</a></p>
{% endblock %}
{% block body_text %}
Hello {{ data.display_name }},

You told us you had forgotten your {{ app.request.host }} password, so here is a link to set a new password:

{{ url('user_password_reset', {username: data.username, verificationCode: data.passwordResetToken}) }}

You can click the link above, or copy it to the addressbar of your browser.

If you did not request this password reset, you do not have to take any action.
Someone else probably entered your username by mistake.

--------------------------------------------------------------------------------
Generated especially for you by Authserver at {{ url('home') }}
{% endblock %}
