{% extends '::base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ url('admin_user_gets') }}">
                        <h1 class="panel-title">{{ icon('user') }} Users</h1>
                    </a>
                </div>
                {{ render(controller('app.admin.user.controller:dashboardAction')) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ url('admin_group_gets') }}">
                        <h1 class="panel-title">{{ icon('group') }} Groups</h1>
                    </a>
                </div>
                {{ render(controller('app.admin.group.controller:dashboardAction')) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ url('admin_oauth_client_gets') }}">
                        <h1 class="panel-title">{{ icon('cube') }} OAuth Applications</h1>
                    </a>
                </div>
                {{ render(controller('app.admin.oauth.client.controller:dashboardAction')) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ url('admin_apikey_gets') }}">
                        <h1 class="panel-title">{{ icon('key') }} API Keys</h1>
                    </a>
                </div>
                {{ render(controller('app.admin.apikey.controller:dashboardAction')) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
