{% extends 'AdminBundle:PropertyNamespace:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Namespaces</h3>
    </div>
    {{ form_start(batch_form, { action: url('admin_property_namespace_batch', { _params: app.request.query.all }), style: 'inline' }) }}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Flags</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="admin_batch[subjects][{{ obj.id }}]" value="1" class="js--batch-checkbox">
                                {{ obj.name }}
                            </label>
                        </td>
                        <td>
                            {% if obj.publicReadable %}
                                <span title="Public readable">{{ label_success('R') }}</span>
                            {% else %}
                                <span title="Not public readable">{{ label('R') }}</span>
                            {% endif %}
                            {% if obj.publicWriteable %}
                                <span title="Public writeable">{{ label_success('W') }}</span>
                            {% else %}
                                <span title="Not public writeable">{{ label('W') }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% include 'AdminBundle:PropertyNamespace:cget_links.html.twig' with {obj: obj} only %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-body text-center">
        <div class="pull-left js--batch-form collapse">
            {{ form_row(batch_form.action) }} {{ form_row(batch_form.submit) }}
            <span class="hidden">{{ form_row(batch_form.subjects) }}</span>
        </div>
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
    {{ form_end(batch_form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/admin/js/batch-checkbox.js') }}"></script>
{% endblock %}
