{% extends 'VlRadRestBundle:Default:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">List</h3>
    </div>
    <div class="table-responsive">
        {% if data|length > 0 %}
          <table class="table">
            <thead>
              {% set keys = data[0]|radrest_object_keys %}
              <tr>
                {% for name in keys %}
                  <th>{{ name|humanize }}</th>
                {% endfor %}
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in data %}
                <tr>
                  {% for key in keys %}
                    <td>{{ attribute(obj, key)|radrest_object_stringify }}</td>
                  {% endfor %}
                  <td>
                    {% include 'VlRadRestBundle:Default:cget_links.html.twig' with {obj: obj, controller: controller } only %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
    </div>
    <div class="panel-body">
        {% if controller.may('new') %}
            <a class="btn btn-primary btn-sm" href="{{url(controller.route('new'))}}">Create</a>
        {% endif %}
    </div>
    <div class="panel-body text-center">
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
{% endblock %}

{% block navigation %}
    {{ parent() }}
    <form class="navbar-form navbar-right hidden-xs" role="search">
        <div class="form-group">
            <label for="navbar-search" class="sr-only">Search</label>
            <div class="input-group">
                <input type="search" class="form-control js-search-field" placeholder="Search" name="q" id="navbar-search" value="{% if app.request.query.get('q', '') is not iterable %}{{ app.request.query.get('q', '') }}{% endif %}">
                <span class="input-group-btn">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default">{{ icon('search') }}<span class="sr-only">Search</span></button>
                        {% block navigation_search_examples_dropdown %}
                        {% endblock %}
                    </div>
                </span>
            </div>
        </div>
    </form>
{% endblock %}

{% block mobile_search %}
    <div class="row">
        <div class="col-xs-12">
            <form role="search">
                <div class="panel visible-xs-block panel-default panel-mobile-search">
                    <div class="panel-heading" data-toggle="collapse" data-target=".panel-mobile-search > .list-group">
                        <h3 class="panel-title">Search</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="mobile-search" class="sr-only">Search</label>
                            <div class="input-group">
                                <input type="search" class="form-control js-search-field" placeholder="Search" name="q" id="mobile-search" value="{% if app.request.query.get('q', '') is not iterable %}{{ app.request.query.get('q', '') }}{% endif %}">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">{{ icon('search') }}<span class="sr-only">Search</span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group collapse">
                        {% block mobile_search_examples %}
                        {% endblock %}
                    </ul>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
