{% spaceless %}
<div class="btn-group btn-group-sm">
    {% if controller.may('get', obj) %}
        <a class="btn btn-info" href="{{ url(controller.route('get'), {id: obj.id}) }}" title="View">{{ icon('eye') }} <span class="sr-only">View</span></a>
    {% endif %}
    {% if controller.may('edit', obj) %}
        <a class="btn btn-default" href="{{ url(controller.route('edit'), {id: obj.id}) }}" title="Edit">{{ icon('edit') }} <span class="sr-only">Edit</span></a>
    {% endif %}
    {% if controller.may('remove', obj) %}
        <a class="btn btn-danger" href="{{ url(controller.route('remove'), {id: obj.id}) }}" title="Delete">{{ icon('trash-o') }} <span class="sr-only">Delete</span></a>
    {% endif %}
</div>
{% endspaceless %}
